<nz-row>
  <nz-col nzMd="4" nzSm="0"></nz-col>
  <nz-col nzMd="16" nzXs="24">
    <nz-tabset>
      <nz-tab nzTitle="Music">
        <nz-spin [nzSpinning]="loading">
          <form nz-form nzLayout="vertical">
            <shared-settings-boolean id="logTracks" name="Log tracks"
                                     [required]="true" [disabled]="loading" [loading]="loading"
                                     [formGroup]="form"></shared-settings-boolean>
            <shared-settings-channel id="logChannel" name="Log channel"
                                     [guild]="guild" [loading]="loading" [required]="false"
                                     [disabled]="loading || !this.form.get('logTracks').value"
                                     [formGroup]="form"></shared-settings-channel>
            <shared-select-playlist id="activePlayList" name="PlayList"
                                    [required]="true" [disabled]="loading"
                                    [formGroup]="form"></shared-select-playlist>
          </form>
          <div style="float:right">
            <button nz-button [disabled]="!changesDetected" [nzLoading]="loading" nzType="primary" (click)="save()">
              Save Changes
            </button>
          </div>
        </nz-spin>
      </nz-tab>
    </nz-tabset>
  </nz-col>
  <nz-col nzMd="4" nzSm="0"></nz-col>
</nz-row>
