<nz-form-item [formGroup]="formGroup">
  <nz-form-label [nzRequired]="nzRequired">{{name | translate}}</nz-form-label>
  <nz-alert nzType="info" [nzMessage]="notes | translate" [hidden]="!notes" nzShowIcon></nz-alert>
  <br [hidden]="!notes"/>
  <nz-form-control nzHasFeedback nzValidatingTip="Checking..." [nzErrorTip]="nzErrorTip">
    <nz-select [formControlName]="id" [nzLoading]="loading">
      <nz-option *ngFor="let item of this.options"
                 [nzValue]="item.id" [nzLabel]="item.name" nzCustomContent>
        <img style="width: 16px" [src]="item.logoUrl" [alt]="item.name"/>
        {{item.name}}
      </nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>
