<nz-row>
  <nz-col nzMd="4" nzSm="0"></nz-col>
  <nz-col nzMd="16" nzXs="24">
    <nz-tabset>
      <nz-tab nzTitle="Better Embeds">
        <nz-spin [nzSpinning]="loading">
          <form nz-form nzLayout="vertical">
            <nz-alert nzType="info" [nzMessage]="msg" nzShowIcon>
              <ng-template #msg>
                When enabled, links to the following websites will be deleted and replaced by a rich embed with more
                information.
              </ng-template>
            </nz-alert>
            <br/>
            <shared-settings-boolean id="apoiase" name="apoia.se" [formGroup]="form"
                                     [disabled]="loading" [loading]="loading" [rawNotes]="apoiase">
              <ng-template #apoiase>
                <p class="notes-settings">
                  <a href="https://apoia.se/" target="_blank">apoia.se</a> is a brazilian crowdfunding website.
                </p>
              </ng-template>
            </shared-settings-boolean>
            <shared-settings-boolean id="catarse" name="catarse.me" [formGroup]="form"
                                     [disabled]="loading" [loading]="loading" [rawNotes]="catarse">
              <ng-template #catarse>
                <p class="notes-settings">
                  <a href="https://catarse.me/" target="_blank">catarse.me</a> is a brazilian crowdfunding website.
                </p>
              </ng-template>
            </shared-settings-boolean>
            <shared-settings-boolean id="kitsu" name="kitsu.io" [formGroup]="form"
                                     [disabled]="loading" [loading]="loading" [rawNotes]="kitsu">
              <ng-template #kitsu>
                <p class="notes-settings">
                  <a href="https://kitsu.io/" target="_blank">kitsu.io</a> is an anime database and social network.
                </p>
              </ng-template>
            </shared-settings-boolean>
            <shared-settings-boolean id="myAnimeList" name="myanimelist.net" [formGroup]="form"
                                     [disabled]="loading" [loading]="loading" [rawNotes]="mal">
              <ng-template #mal>
                <p class="notes-settings">
                  <a href="https://myanimelist.net/" target="_blank">myanimelist.net</a> is an anime database and
                  tracking website.
                </p>
              </ng-template>
            </shared-settings-boolean>
            <shared-settings-boolean id="picarto" name="picarto.tv" [formGroup]="form"
                                     [disabled]="loading" [loading]="loading" [rawNotes]="picarto">
              <ng-template #picarto>
                <p class="notes-settings">
                  <a href="https://picarto.tv/" target="_blank">picarto.tv</a> is an art streaming website.
                </p>
              </ng-template>
            </shared-settings-boolean>
          </form>
          <div style="float:right">
            <button nz-button [disabled]="!changesDetected" [nzLoading]="loading" nzType="primary" (click)="save()">
              Save Changes
            </button>
          </div>
        </nz-spin>
      </nz-tab>
    </nz-tabset>
  </nz-col>
  <nz-col nzMd="4" nzSm="0"></nz-col>
</nz-row>
