<nz-row>
  <nz-col nzMd="4" nzSm="0"></nz-col>
  <nz-col nzMd="16" nzXs="24">
    <nz-tabset>
      <nz-tab nzTitle="Settings">
        <nz-spin [nzSpinning]="loading">
          <form [formGroup]="form" (ngSubmit)="onSubmit($event)" nz-form nzLayout="vertical">
            <!-- Line 1 -->
            <section>
              <div nzGutter="16" nz-row>
                <div nzSpan="24" nz-col>
                  <shared-settings-select id="language" [formGroup]="form" name="settings.core.language.name"
                                          [loading]="loading" [options]="this.languages"></shared-settings-select>
                </div>
              </div>
            </section>
            <shared-settings-channel id="ignoredChannels" [formGroup]="form" name="settings.core.ignoredChannels.name"
                                     notes="settings.core.ignoredChannels.description"
                                     [nzRequired]="false" [guild]="guild" mode="multiple"></shared-settings-channel>
            <div style="float:right">
              <button type="submit" nz-button [disabled]="!changesDetected" [nzLoading]="loading" nzType="primary">
                {{'common.forms.save' | translate}}
              </button>
            </div>
          </form>
        </nz-spin>
      </nz-tab>
    </nz-tabset>
  </nz-col>
  <nz-col nzMd="4" nzSm="0"></nz-col>
</nz-row>
