::ng-deep nz-list-item-meta-avatar > div > nz-avatar {
  border-radius: 0 !important;
  width: 128px !important;
  height: 64px !important;
}

::ng-deep .ant-list-vertical .ant-list-item-meta {
  margin-bottom: 0 !important;
}

::ng-deep .ant-list-vertical .ant-list-item-extra {
  margin-top: 23px;
}
