<nz-row>
  <nz-col nzMd="4" nzSm="0"></nz-col>
  <nz-col nzMd="16" nzXs="24">
    <nz-tabset>
      <nz-tab nzTitle="Starboard">
        <nz-spin [nzSpinning]="loading">
          <form [formGroup]="form" (ngSubmit)="save()" nz-form nzLayout="vertical">
            <shared-settings-boolean id="enabled" [formGroup]="form" name="Status"
                                     nzRequired></shared-settings-boolean>
            <shared-settings-slider id="minStars" [formGroup]="form" name="settings.starboard.count.name"
                                    notes="settings.starboard.count.description" min="1" max="10"
                                    [nzRequired]="this.form.get('enabled')?.value"></shared-settings-slider>
            <shared-settings-channel id="channel" [formGroup]="form" name="settings.starboard.channel.name"
                                     notes="settings.starboard.channel.description"
                                     [guild]="guild" [nzErrorTip]="channelErrors"
                                     [nzRequired]="this.form.get('enabled')?.value">
              <ng-template #channelErrors let-control>
                <ng-container *ngIf="control.hasError('required')">
                  {{'settings.starboard.channel.required'| translate}}
                </ng-container>
              </ng-template>
            </shared-settings-channel>
            <div style="float:right">
              <button type="submit" nz-button [disabled]="!changesDetected" [nzLoading]="loading" nzType="primary">
                {{'common.forms.save' | translate}}
              </button>
            </div>
          </form>
        </nz-spin>
      </nz-tab>
    </nz-tabset>
  </nz-col>
  <nz-col nzMd="4" nzSm="0"></nz-col>
</nz-row>
