<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Lindsey Dashboard</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Servers" nzIcon="appstore" [hidden]="this.state.guildId">
        <ul>
          <li nz-menu-item nzMatchRouterExact>
            <a routerLink="/guilds/">Server List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard" [hidden]="!this.state.guildId">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/guilds/overview">Overview</a>
          </li>
          <li nz-submenu nzOpen nzTitle="Settings">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/guilds/settings/core">Basic Settings</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/guilds/settings/automod">AutoMod</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/guilds/settings/music">Music</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="right-header">
          <nz-space>
            <nz-space-item>
              <nz-button-group>
                <button nz-button disabled>Imperio Fabricio20</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="guildSelector" nzPlacement="bottomRight">
                  <i nz-icon nzType="down"></i>
                </button>
              </nz-button-group>
              <nz-dropdown-menu #guildSelector="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item id="1234">Imperio Fabricio20</li>
                  <li nz-menu-item id="4321">Lindsey Hangout</li>
                </ul>
              </nz-dropdown-menu>
            </nz-space-item>
            <nz-space-item>
              <nz-divider nzType="vertical"></nz-divider>
            </nz-space-item>
            <nz-space-item>
              <nz-button-group>
                <button nz-button>Fabricio20#5913</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                  <i nz-icon nzType="ellipsis"></i>
                </button>
              </nz-button-group>
              <nz-dropdown-menu #userMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Settings</li>
                  <li nz-menu-item nzDanger>Logout</li>
                </ul>
              </nz-dropdown-menu>
            </nz-space-item>
          </nz-space>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
