<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="160px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Lindsey</h1>
      </a>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header style="position: fixed">
      <div class="app-header">
        <div [ngClass]="{'left-header-small': isCollapsed, 'left-header-big': !isCollapsed}">
          <nz-space>
            <a routerLink="/" class="clickable-link">
              <i nz-icon nzType="book"></i>
              <span [hidden]="isCollapsed"> Documentation</span>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a routerLink="/leaderboards" class="clickable-link">
              <i nz-icon nzType="line-chart"></i>
              <span [hidden]="isCollapsed"> Leaderboards</span>
            </a>
          </nz-space>
        </div>
        <div class="right-header">
          <nz-space>
            <a (click)="toggleTheme()">
              <i class="theme-switcher" nz-icon nzType="bulb" nzTheme="fill"></i>
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <div *ngIf="user">
              <button [hidden]="isCollapsed" nz-button routerLink="/selector">Control Panel</button>
              <button [hidden]="!isCollapsed" nz-button routerLink="/selector">
                <i nz-icon nzType="dashboard"></i>
              </button>
            </div>
            <div *ngIf="user">
              <nz-divider nzType="vertical"></nz-divider>
            </div>
            <div *ngIf="user">
              <nz-button-group>
                <button [hidden]="isCollapsed" nz-button>{{user.username}}#{{user.discriminator}}</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                  <i nz-icon nzType="ellipsis"></i>
                </button>
              </nz-button-group>
              <nz-dropdown-menu #userMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item routerLink="/users/settings">Settings</li>
                  <li nz-menu-item nzDanger routerLink="/auth/logout">Logout</li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <div *ngIf="!user">
              <button nz-button routerLink="/auth/login">Log in</button>
            </div>
          </nz-space>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
