<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div class="navbar-logo">
          <a routerLink="/">
            <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
            <h1>Lindsey Dashboard</h1>
          </a>
        </div>
        <div class="right-header">
          <nz-space>
            <nz-space-item>
              <a (click)="toggleTheme()">
                <i class="theme-switcher" nz-icon nzType="bulb" nzTheme="fill"></i>
              </a>
            </nz-space-item>
            <nz-space-item>
              <nz-divider nzType="vertical"></nz-divider>
            </nz-space-item>
            <nz-space-item *ngIf="user">
              <button nz-button routerLink="/selector">Control Panel</button>
            </nz-space-item>
            <nz-space-item *ngIf="user">
              <nz-divider nzType="vertical"></nz-divider>
            </nz-space-item>
            <nz-space-item *ngIf="user">
              <nz-button-group>
                <button nz-button>{{user.username}}#{{user.discriminator}}</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                  <i nz-icon nzType="ellipsis"></i>
                </button>
              </nz-button-group>
              <nz-dropdown-menu #userMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item routerLink="/users/settings">Settings</li>
                  <li nz-menu-item nzDanger routerLink="/auth/logout">Logout</li>
                </ul>
              </nz-dropdown-menu>
            </nz-space-item>
            <nz-space-item *ngIf="!user">
              <button nz-button routerLink="/auth/login">Log in</button>
            </nz-space-item>
          </nz-space>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
