<nz-list nzGrid>
  <nz-spin style="text-align: center;" [hidden]="!loading" nzSimple></nz-spin>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzLg]="4" [nzSm]="12" [nzXs]="24" *ngFor="let item of lists">
      <nz-row nzJustify="center">
        <nz-list-item>
          <nz-card style="width:300px;" [nzActions]="[actionSetting]">
            <nz-card-meta [nzTitle]="title" [nzDescription]="description" [nzAvatar]="avatarTemplate"></nz-card-meta>
          </nz-card>
          <ng-template #title>
            <span class="clickable" [routerLink]="item.id">{{item.name}}</span>
          </ng-template>
          <ng-template #avatarTemplate>
            <nz-avatar [nzSrc]="item.logo"></nz-avatar>
          </ng-template>
          <ng-template #description>
            <nz-tag>
              <i nz-icon nzType="tag"></i>
              {{item.genre}}
            </nz-tag>
            |
            {{item.votes}}
            <i nz-icon nzType="like"></i>
            |
            <i nz-icon nzType="customer-service"></i>
            {{item.songs}}
          </ng-template>
          <ng-template #actionSetting>
            <a [routerLink]="item.id"><i nz-icon nzType="play-circle"></i></a>
          </ng-template>
        </nz-list-item>
      </nz-row>
    </div>
  </div>
</nz-list>
