<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Lindsey Dashboard</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [ngClass]="{'guild-logo-minimized': isCollapsed}"
          [nzTooltipTitle]="isCollapsed ? guild.name : ''">
        <i nz-icon>
          <img src="{{guild.iconUrl}}" class="guild-logo" alt="guild logo">
        </i>
        <span>
          {{guild.name}}
        </span>
      </li>
      <nz-divider nzType="horizontal" style="margin-top: 0"></nz-divider>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
          [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''">
        <i nz-icon nzType="dashboard"></i>
        <span>
          <a routerLink="{{this.guildId}}/overview">Dashboard</a>
        </span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
          [nzTooltipTitle]="isCollapsed ? 'Panel Access' : ''">
        <i nz-icon nzType="lock"></i>
        <span>
          <a routerLink="{{this.guildId}}/access">Panel Access</a>
        </span>
      </li>
      <li nz-submenu nzOpen nzTitle="Settings" nzIcon="control">
        <ul>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
              [nzTooltipTitle]="isCollapsed ? 'Settings' : ''">
            <i nz-icon nzType="control"></i>
            <span>
              <a routerLink="{{this.guildId}}/settings">Settings</a>
            </span>
          </li>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
              [nzTooltipTitle]="isCollapsed ? 'Starboard' : ''">
            <i nz-icon nzType="star"></i>
            <span>
              <a routerLink="{{this.guildId}}/starboard">Starboard</a>
            </span>
          </li>
          <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
              [nzTooltipTitle]="isCollapsed ? 'Better Embeds' : ''">
            <i nz-icon nzType="read"></i>
            <span>
              <a routerLink="{{this.guildId}}/embeds">Better Embeds</a>
            </span>
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
          [nzTooltipTitle]="isCollapsed ? 'AutoMod' : ''">
        <i nz-icon nzType="security-scan"></i>
        <span>
          <a routerLink="{{this.guildId}}/automod">AutoMod</a>
        </span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
          [nzTooltipTitle]="isCollapsed ? 'Music' : ''">
        <i nz-icon nzType="customer-service"></i>
        <span>
          <a routerLink="{{this.guildId}}/music">Music</a>
        </span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzMatchRouter
          [nzTooltipTitle]="isCollapsed ? 'Logs' : ''">
        <i nz-icon nzType="book"></i>
        <span>
          <a routerLink="{{this.guildId}}/logs">Logs</a>
        </span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="right-header" *ngIf="user">
          <nz-space>
            <nz-space-item>
              <a (click)="toggleTheme()">
                <i class="theme-switcher" nz-icon nzType="bulb" nzTheme="fill"></i>
              </a>
            </nz-space-item>
            <nz-space-item>
              <nz-divider nzType="vertical"></nz-divider>
            </nz-space-item>
            <nz-space-item [hidden]="isCollapsed">
              <button [hidden]="isCollapsed" nz-button routerLink="/selector">Control Panel</button>
              <button [hidden]="!isCollapsed" nz-button routerLink="/selector">
                <i nz-icon nzType="dashboard"></i>
              </button>
            </nz-space-item>
            <nz-space-item [hidden]="isCollapsed">
              <nz-divider nzType="vertical"></nz-divider>
            </nz-space-item>
            <nz-space-item>
              <nz-button-group>
                <button [hidden]="isCollapsed" nz-button>{{user.username}}#{{user.discriminator}}</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight">
                  <i nz-icon nzType="ellipsis"></i>
                </button>
              </nz-button-group>
              <nz-dropdown-menu #userMenu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item routerLink="/users/settings">Settings</li>
                  <li nz-menu-item nzDanger routerLink="/auth/logout">Logout</li>
                </ul>
              </nz-dropdown-menu>
            </nz-space-item>
          </nz-space>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
