<nz-row>
  <nz-col nzMd="4" nzSm="0"></nz-col>
  <nz-col nzMd="16" nzXs="24">
    <nz-skeleton [nzActive]="true" [hidden]="loaded"></nz-skeleton>
    <form nz-form nzLayout="vertical" [hidden]="!loaded">
      <nz-tabset>
        <nz-tab nzTitle="Welcome Message">
          <tab-welcome-message [form]="form"></tab-welcome-message>
        </nz-tab>
      </nz-tabset>
    </form>
  </nz-col>
  <nz-col nzMd="4" nzSm="0"></nz-col>
</nz-row>
<nz-row>
  <ng-template #unsaved>
    <nz-space>
      <nz-space-item>
        You have unsaved changes
      </nz-space-item>
      <nz-space-item>
        <button nz-button nzSize="small" nzType="primary" (click)="save()">Save Changes</button>
      </nz-space-item>
    </nz-space>
  </ng-template>
</nz-row>
